<p>user-groups works!</p>

<div>
    <a routerLink="/groups/add">Add Group</a>
</div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Add Member</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups">
        <th scope="row">{{ group.id }}</th>
        <td>{{ group.name }}</td>
        <td><a routerLink="/groups/update/{{ group.id }}" class="btn btn-primary">Update</a></td>
        <td><button (click)="deleteGroup(group.id)" class="btn btn-danger">Delete</button></td>
        <td><a routerLink="/groups/addMember/{{ group.id }}">Add Member</a></td>

      </tr>
    </tbody>
  </table>

  <div>
    <router-outlet></router-outlet>
</div>